{% extends 'master.html' %}

{% block title %}Forside{% endblock %}

{% block content %}
<h1>Velkommen.</h1>
<p>Dette er bare en basic forside, men den lader os teste styles og så videre ved at have lidt forskellige elementer vi kan rode med</p>
<p>I fremtiden skal denne side nok ændres, men indtil videre får den bare en masse ting så vores stylesheet kan udvides.</p>

<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<p>p</p>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link(a)</a>
{% endblock %}